div(ng-include='"components/navbar/navbar.html"')


    <div >Click here</div>
</div>

.recipes
  .row.row-centered  
    .col-md-6.col-centered
      h1.text-center
        |Choose a recipe:
      ul.list-group.recipe-list
        li.list-group-item(ng-click="getRecipe(recipe.name)" ng-repeat='recipe in recipes')
          .recipe-image
            img(src='{{recipe.img}}' width='100')
          |{{recipe.name}}
          div(style='clear: both')

div(ng-include='"app/common-footer/common-footer.html"')
