.recipes
  .recipe-list
    margin-top: 2em
    .list-group-item
      vertical-align: center
      padding: 15px 15px
      font-size: 2.2rem
      cursor: pointer
      background-color: white
      transition: background-color 0.5s linear
      &:hover
        background-color: #e7e7e7

  .recipe-image
    float: right
    border: 1px solid #ddd
    border-radius: 5px
    margin-left: 5px
  .row
    margin-left: 0
    margin-right: 0
